body {
  /* remoize margins and scroll bars */
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* style text */
  text-align: center;
  font-size: 12px;
  /* color text */
  color: black;
}
.predictResults{
  min-height: 150px;
}
header {
  height: 60px;
  background-color: rgb(198, 198, 198);
}

.header {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 15px;

}

.item {
  display: inline-block;
  vertical-align: middle;
  margin: auto 10px;
}

#retour {
  display: block;
  width: 150px;
  position: relative;
  right: 30%;
}

.fa-chevron-left {
  padding: 5px;
}

main {
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
  align-items: center;

  /* min-width: 728px; */
  overflow-x: scroll;

}

#container {
  width: 100vw;
  height: 100vh;
  /* background-color: #22b573; */

}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: #ffffffcf;
}

.loader img,
h1,
span {
  position: relative;
  top: 10%;
}

#scene-container {
  /* tell our scene container to take up the full page */
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

/* container Image and camera */
#webcam-container {
  position: relative;
  margin: 5px;

}

#imageBox {
  border: #22b573 solid 2px;
  border-radius: 10px;
  background-color: white;
  width: 220px;
  height: auto;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  left: 10px;
  top: 40%;
  padding: 5px;

}

.modalForExplained {
  border: #22b573 solid 2px;
  border-radius: 10px;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  left: 40%;
  /* transform: translate(-50%, -50%); */


}
#average, #reluExp, #softmaxExp{
  padding: 20px;
}

#convolution, #pConvolution, #average, #reluExp, #softmaxExp, #deptWiseConv{
  display: none;
}
#pConvolution{
  left: 35% !important;
}

.modalContainer {
  display: grid;
  align-items: center;

  gap: 20px;
  padding: 1em;
  justify-items: center;
}
.convolution {
  grid-template-rows: auto 1fr 1fr 1fr;
}
.average{
  gap:0px;
}
.bottom{
  margin-top: 20px;

}
.gapFoot{
  grid-template-columns: 220px var(--icon-width) 4rem var(--icon-width) 4rem 4rem 4rem 2rem;
  align-items: start !important;
  height: 50px;
}
.reluFoot{
  grid-template-columns: 80px 60px 100px 30rem;
  align-items: start !important;
  height: 150px;
} 
.softmaxFoot{

  grid-template-columns: 80px 80px 80px 22rem;
  /* grid-template-columns: 100px 60px 100px 24rem; */
  align-items: start !important;
  height: 300px;
} 

.viz-row {
  --icon-width: 2em;
  display: grid;
  gap: 20px;
  align-items: center;

}
.list {
  background-color: rgb(241, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto -10px;
  height: 100%;

}

.conv{
  grid-template-columns: 150px var(--icon-width) 100px var(--icon-width) 100px var(--icon-width) 4rem var(--icon-width) 8rem;

}

.convDW{
  grid-template-columns: 150px 150px 150px var(--icon-width) 100px var(--icon-width) 100px var(--icon-width) 4rem var(--icon-width);

}
.convPc{
  grid-template-columns: 150px 150px 150px var(--icon-width) 90px var(--icon-width) 4rem 150px 4rem 4rem;

}
.pc{
  max-height: 30px;
}
.operationsListPc_one, .operationsListPc_two{
  background-color: rgb(241, 241, 241);
  min-height: 390px;
  padding-top: 50%;
}
.icon_bn, .icon_relu{
  margin: 5px;
}
.operationsList>*{
margin: 3px auto;
}
.gridFiveDWLast{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.gridFiveDWLast img{
  margin: auto;
}
.gridTourPCTwo td, .gridTourPCOne td, .gridTourPCFirst td, .gridTourPCLast td{
  border: 4px solid #22b573;
}
.orange{
  border-color: #ff8200 !important;
  margin-top: 20px;
  border-radius: 10px !important;
}
.gap{
  grid-template-columns: 220px var(--icon-width) 4rem var(--icon-width) 40px var(--icon-width) 4rem;
}
.relu{
  grid-template-columns: 30px var(--icon-width) 30px var(--icon-width) 30px var(--icon-width) 3rem var(--icon-width) 3rem var(--icon-width) 3rem var(--icon-width) 4rem 2rem;
  margin-bottom: -70px;
}
.softMax{
  grid-template-columns: 30px var(--icon-width) 30px var(--icon-width) 30px var(--icon-width) 4rem var(--icon-width) 4rem var(--icon-width) 4rem;
  margin-bottom: -120px;
}
.blocInfoExp{ 
  background-color: #e9ebef;
  width: 300px;
  height: 200px;
  position: relative;
}
.ml{
  left: 20%;
}

.arrow-up{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #e9ebef;
  position: relative;
  bottom: 30px;

}

.left{
  left: 215px;
  background-color: white !important;
}
.right {
  left: 87px;

}

.marginmiddle{
  width: 100%;
  margin: 10px auto;

}
.marginSoftMax{
  width: 60%;
  margin: auto;

}
.sign {
  width: 50px;
}
.top{
  margin-top: 20px;
}
.inline{
  display: inline;
  position: relative;
    bottom: 20px;
}

.flash{
  position: relative;
  bottom: 7%;
  left: 37%
}
.textToCenter{
  text-align: center;
  padding: 0px;
}
.gridThree,
.gridMultiplication {
  width: 103px;
  border: 4px solid #22b573;
  border-radius: 4px;
}
.gridTour table {
  border-collapse:separate;
}
.gridTour td, .forGap td, .forSortie td{
border-radius: 10px;
color: #000;
}

.single-box {
  width: 3rem;
  height: 3rem;
  border: 3px solid #22b573;
  background-color: white;
  border-radius: 3px;
  margin-inline: auto;
  display: flex;
}
.single-lut-value{
  margin: auto;
  position: relative;
  z-index: 105;
}

.single-value, .single{
  margin: auto;
  font-weight: bold;
}
.final{
  background-color: #22b573;
  color: white;
}
.sortie{
  margin: 10px;
  height: 600px;
}
.formule{
  color: #000;
}

.formule td{
  border-width: 0px;
  border-collapse:collapse !important;
}
.lineDivision{
  border-bottom-width: 2px !important; 
  border-bottom-style: solid; 
  border-color: black;
 
}
.flashLine{
  width: 80%;
}

.carre{
  width:65px;
  height: 65px;
  border:2px solid #000;
  margin: 10px auto 10px auto;

}

.forGap{
  height: 100px;
  bottom: 55%;
}
.forRelu{
  bottom: 25%;
  left: 17%;
}
.forSortie{
height: 270px;
bottom: 10%;

}
.sm{
  width:50px;
  margin: auto;
  position: relative;
  z-index: 2;
  background-color: #e9ebef;
  bottom: 5px;
  display: block;
}
#conv-final-sum-lines {
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}


#conv-final-sum-lines .sum-line {
  stroke-width: 2px;
  stroke: rgb(0, 0, 0, 0.25);
}

.conv-modal-header {
  font-weight: bolder;
  font-size: larger;
}

.conv-modal-header h4 {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  font-size: 1em;
}

td {
  width: 32px;
  height: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  border: 2px solid gray;
  border-color: rgb(212, 212, 212);
}


#dataValue {
  position: absolute;
  z-index: 2;
  visibility: hidden;
  right: 10px;
  padding: 5px;
  background-color: #ffffffe6;
  border-radius: 10px;
}

.control {
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  /* border: solid 3px rgba(0, 0, 0, 0.238); */
}

.headerImageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

#imageBox #closeModuleInput, .hideModal {
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0.1em;
}

p {
  display: inline;
  padding-left: 5px;
}

#image_input {
  width: 150px;
  height: 150px;
  min-width: 100px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff8200;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #22b573
}

input:focus+.slider {
  box-shadow: 0 0 1px #22b573
}

input:checked+.slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


/* The Modal (background) */
.modal {
  position: relative;
  display: none;
  right: 10px;
  display: none;
  /* Hidden by default */
  z-index: 1;
  /* Sit on top */


  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {

  background-color: #fefefe;
  padding: 10px;
}


#palette {
  padding: 10px;
}

.button {
  font-weight: 600;
  font-size: 14px;
  padding: 7px 25px;
  display: inline-block;
  background-color: white;
}

.left {
  background-color: #22b573;
  color: white;
}


.middle {
  background-color: #22b573;

}

.middle:hover {
  cursor: pointer;
}

#image_input {
  display: hidden;
}


.btn-outline-secondary {
  background-color: white;
}


@media only screen and (max-width: 600px) {
  .inline {
    display: inline;
  }

  .zoom {
    width: 10%;
  }
}


#conv-final-lines-main, #conv-final-lines-main-pc {
  position: absolute;
  width: 50px;
}

#conv-final-lines-1{
  width: 100%;
  border: 2px rgb(0, 0, 0, 0.25) solid;
  border-left: 0px;
  height: 100%;
}

#conv-final-lines-2 {
  width: 100%;
  position: absolute;
  border: 1px rgb(0, 0, 0, 0.25) solid;
  border-left: 0px;
  bottom: 50%;
}
#pointConv-line-2{
  width: 100%;
  position: absolute;
  border: 1px rgb(0, 0, 0, 0.25) solid;
  border-left: 0px;
  top: -40%;
  left: 120%;
  height: 270%;
}

#conv-final-lines-main .sign-img {
  position: absolute;
  transform: translate(-50%, -50%);

}

#sum-1-plus {
  top: 50%;
  left: 50%;
}

#sum-2-plus {
  top: 25%;
  left: 100%;
}

#sum-3-plus {
  top: 75%;
  left: 100%;
}

#sum-1-plus-pc, #sum-2-plus-pc, #sum-3-plus-pc {
  position: relative;
  left: 170%;
}
#sum-2-plus-pc{
  top: 90px;
}


#last-equals-sign {
  margin-left: 2.5rem;
}